*{
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;

}

:root {
  --primary:#00A6A6;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 10px;
}

header h1 {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-right: 40px;

}

.hero {
  background-image: url("./images/rm21-pd-sasi-03.jpg");
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  justify-content: left;
}

.photo {
  width: 500px;
  height: auto;
  padding: 0px;
  border: 10px solid var(--primary);
  margin: 50px;
}

